.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-form {
  display: flex;
  width: 50rem;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}

.details-form h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.details-form .box {
  width: 100%;
  border-bottom: var(--border);
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin: 1rem 0;
  display: flex;
}

.details-form .file {
  border: none;
}

.details-form button:disabled {
  opacity: 0.2;
  background: gray;
  color: var(--black);
}

.details-form button:disabled:hover {
  clip-path: none;
  background: gray;
}

.account .box-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.account .card-box {
  display: flex;
  flex: 1 1 30rem;
  flex-direction: column;
  height: 30rem;
  width: 30rem;
  align-items: center;
  justify-content: center;
}

.account .card-box img {
  border-radius: 20rem;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.card-box .pet-content {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
}

.account .card-box h3 {
  color: var(--carrot-color);
}

.account .card-box p {
  text-transform: none;
  font-size: 1.2rem;
  text-align: left;
}

@media (max-width: 991px) {
  .account .box-container {
    display: grid;
  }
}
